body {
    background: #ffecb0;
    background: -webkit-linear-gradient(to right, #0083B0, #f6e7a2);
    background: linear-gradient(to right, #0083B0, #ffe3b0);
    color: #514B64;
    min-height: 100vh;
}
.rounded-lg {
    border-radius: 1rem !important;
}

.text-small {
    font-size: 0.9rem !important;
}

.custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
}

.text-uppercase {
    letter-spacing: 0.2em;
}

body {
    background: #b4f4ff;
    background: -webkit-linear-gradient(to right, #0083B0, #b1f0ff);
    background: linear-gradient(to right, #c9edfd, #9ed9e8);
    color: #514B64;
    min-height: 100vh;
}
